%helvetica-400 {
  font-family: 'Helvetica', sans-serif;
  font-weight: 400;
}

%helvetica-700 {
  font-family: 'Helvetica-Bold', sans-serif;
  font-weight: 700;
}

$primary: #5C5C5E;
$bg: #F6F4F5;
$gray: #CACAD6;
$black: #070707;