html,
body {
  height: 100%;
}

body {
  font-size: 18px;
  line-height: 30px;
  @extend %inter-400;
  display: flex;
  flex-direction: column;
  color: $black;
  letter-spacing: -0.02em;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1530px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  @extend %inter-500;
  color: #fff;
  font-size: 18px;
  line-height: 23px;
}

button {
  border: none;

  i {
    margin-left: 10px;
  }
}

.title {
  @extend %inter-700;
  font-size: 72px;
  line-height: 87px;
  margin-bottom: 24px;
  overflow: hidden;

  span {
    position: relative;

    &::after {
      position: absolute;
      content: '';
      background-image: url(../images/decor/title-yellow.svg);
      background-repeat: no-repeat;
      width: 430px;
      height: 30px;
      top: 60px;
      left: 0;
      z-index: -1;
    }
  }

}


@media (max-width: 1152px) {
  .title {
    font-size: 64px;
    line-height: 77px;
  }

  .motivate__title span::after {
    transform: scale(0.8);
    left: -55px;
  }
}

@media(max-width: 768px) {
  .title {
    font-size: 54px;
    line-height: 65px;

    span::after {
      width: 341px;
      height: 30px;
      top: 40px;
      left: -14px;
    }
  }

  .together__title span::after {
    width: 230px !important;
  }

  .motivate__title span::after {
    transform: scale(0.7);
    top: 55px;
    left: -60px;
  }

  .save__title span::after,
  .sponsors__title span::after {
    transform: scale(0.8);
    left: -45px;
  }
}

@media(max-width: 420px) {
  .title {
    font-size: 36px;
    line-height: 44px;

    span::after {
      width: 232px;
      height: 22px;
      top: 24px;
    }
  }

  .together__title span::after {
    width: 155px !important;
    top: 20px !important;
  }

  .motivate__title span::after {
    transform: scale(0.5);
    top: 35px;
    left: -90px;
  }
}