<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internet Shop</title>
    <link rel="stylesheet" href="css/login.min.css">
    <link rel="shortcut icon" href="images/icons/convert.svg" type="image/x-icon">
  </head>

  <body>

    {% include 'app/modules/_header/_header.html' %}

    <main class="main">

      <section class="top">
        <div class="top__container" style="background-image: url('images/top-bg.jpg')">
          <div class="container">
            <h2 class="top__title title">LOG IN</h2>
            <div class="breadcrumbs">
              <ul class="breadcrumbs__list">
                <li class="breadcrumbs__item">
                  <a class="breadcrumbs__link" href="index.html">Home</a>
                </li>
                <li class="breadcrumbs__item">
                  <a class="breadcrumbs__link" href="#">Login</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      {% include 'app/modules/_login/_login.html' %}

    </main>

    {% include 'app/modules/_footer/_footer.html' %}

    <script src="js/main.min.js"></script>
  </body>

</html>